/* LAB: Implementa el estilo .small_img considerando:
    height: 128px;
*/

/* LAB: Implementa el estilo .medium_img considerando:
    height: 256px;
*/

/* LAB: Implementa el estilo .large_img considerando:
    height: 512px;
*/
